<footer>
    <div class="about-wrap">
        <section class="about">
            <img class="about-avatar" src="{{ "/img/avatar.jpg" | prepend: site.baseurl }}" border="0" alt="[name]" />
            <div class="about-body">
                <p class="about-body-title">About</p>
                <p class="about-body-description">{{ site.description }}</p>
                <ul>
                    <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" class="about-body-link about-body-link--bird">@{{ site.twitter_username }}</a></li>
                    <li><i class="fa fa-github"></i><a href="https://github.com/naren8642" target="_blank" class="about-body-link about-body-link--git">naren8642</a></li>
                    <li><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/narensalem" target="_blank" class="about-body-link about-body-link--git">narensalem</a></li>
                </ul>
            </div>
        </section>
    </div>
</footer>
